/*Make our body into a flex container for all the inner items. It would be a vertical container
so we can stack all the other containers on top of one another*/
body{
    font-family: Hero;
    margin:0; /*Don't need margin cause we want to fill the entire screen*/

    display: flex;
    flex-direction: column;
}

.block-one{
    background-color: #1f2937;
    color:  #F9FAF8;

    display:flex;
    flex-direction: column;

}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.logo{
    font-size: 24px;
    font-weight: 700;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    padding-bottom: 40px;
}

.body h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 8px;
    padding: 0;
}

.body p{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 8px; 
    padding:0px;
    color: #E5E7EB;
}

.body img{
    width: 400px;
    height: 300px;
    border-width: 2px;
    border-radius: 8px; /*makes the border rounded*/
    border-style: solid;
    border-color: #3882F6;;
}

.contents{
    display: flex;
    flex-direction: column;
}

.contents button{
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 8px; /*Makes it a rounded buttonn*/
    flex-grow: 0;
    flex-shrink: 0;
    width: 100px;
    padding: 5px 10px;
}


.block-two{
    background-color: white;
    display:flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.block-two h1{
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 700;
}

.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.info-container img{
    width: 100px;
    height: 100px;
    border-width: 2px;
    border-radius: 8px; /*makes the border rounded*/
    border-style: solid;
    border-color: #3882F6;;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

